version: '3.2'

services:
  visage:
    build:
      context: ./visage
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    volumes:
      - "$PWD/visage:/usr/local/app"
    environment:
      - VISAGE_URL=http://192.168.0.132:8083
      - FACIAL_URL=http://192.168.0.132:8082
    stdin_open: true
    tty: true

  facial:
    build:
      context: ./face_recognition
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    volumes:
      - "$PWD/face_recognition/faces:/root/faces"
      - "$PWD/face_recognition/facerec_service.py:/root/facerec_service.py"
    environment:
      - VISAGE_URL=http://192.168.0.132:8083
      - FACIAL_URL=http://192.168.0.132:8082
    stdin_open: true
    tty: true

  gotyou:
    build:
      context: ./face_recognition
      dockerfile: Dockerfile
    command: /usr/local/bin/python3 /root/picam2facerec.py
    volumes:
      - "$PWD/face_recognition/examples/picam2facerec.py:/root/picam2facerec.py"
      - "$PWD/face_recognition/examples/requirements.txt:/root/requirements.txt"
    environment:
      - VISAGE_URL=http://192.168.0.132:8083
      - FACIAL_URL=http://192.168.0.132:8082
    stdin_open: true
    tty: true

  mongo:
    image: mongo:3-jessie
    volumes:
      - "$PWD/data/mongo:/data/db"

  poxa:
    build:
      context: ./
      dockerfile: DockerfilePoxa
    ports:
      - "8081:8080"
    environment:
      - PORT=8080
      - POXA_APP_KEY=app_key
      - POXA_SECRET=secret
      - POXA_APP_ID=app_id
