version: '3.2'

services:
  visage:
    build:
      context: ./visage
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    volumes:
      - "$PWD/visage:/usr/local/app"
      - "$HOME/.virtualenvs/mmirror/lib/python3.6/site-packages/pusher/client.py:/usr/local/lib/python3.6/site-packages/pusher/client.py"
    environment:
      - VISAGE_URL=http://192.168.0.117:8083
      - FACIAL_URL=http://192.168.0.117:8082
    stdin_open: true
    tty: true

  facial:
    build:
      context: ./face_recognition
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    volumes:
      - "$PWD/face_recognition:/root"
    devices:
      - "/dev/video0:/dev/video0"
    environment:
      - VISAGE_URL=http://192.168.0.117:8083
      - FACIAL_URL=http://192.168.0.117:8082
    stdin_open: true
    tty: true

  camcaptcha:
    build:
      context: ./face_recognition
      dockerfile: DockerfileCamCapture
    #command: /usr/local/bin/python3 /root/picam2facerec.py
    command: /usr/local/bin/python3 /usr/share/app/examples/cam.py
    volumes:
      - "$PWD/face_recognition:/usr/share/app"
    environment:
      - VISAGE_URL=http://192.168.0.117:8083
      - FACIAL_URL=http://192.168.0.117:8082
    stdin_open: true
    tty: true

  mongo:
    image: mongo:3-jessie
    volumes:
      - "$PWD/data/mongo:/data/db"

  poxa:
    build:
      context: ./
      dockerfile: DockerfilePoxa
    ports:
      - "8081:8080"
    environment:
      - PORT=8080
      - POXA_APP_KEY=app_key
      - POXA_SECRET=secret
      - POXA_APP_ID=app_id
